<h1>New Post</h1>
<head>
    <title>new post</title>
    
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<form action="/posts" method="POST">
  <input type="text" name="post[title]" placeholder="Title">
  <textarea name="post[content]" placeholder="Content"></textarea>
  <button type="submit">Create</button>
</form>